.card {
  box-sizing: border-box;
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}
/* .card:not(:last-child) {
  margin-right: 15px;
} */
.image {
  max-height: 100%;
}
.info {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff), #ff0000;
  background-position: center;
  background-size: 50% 2px, 2px 50%;
  background-repeat: no-repeat;
}
